*{
  margin: 0px;
}

.printerPage{
  background-color: #F5F6FB;
  color: #F07839;
  font-family: Inter,Arial,Helvetica,sans-serif;
  margin: 0px;
  height: 620px;
}

/* Navbar  */

.navBar{
  background-color: #FFFFFF;
  color: #151515;
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 10pt;
  font-weight: bold;
}

.divPrinterIcon{
  margin-left: 15px;
  background-color: #F07839;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 9px 9px;
  margin-right: 6%;
}

#printerIcon {
  height: 60%;
}

#printerIcon:hover {
  cursor: pointer;
  height: 68%;
}

.divMidNavBar{
  width: 60%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Sora';
}

.divMidNavBar a{
  margin-right: 15%;
}

.divMidNavBar a:hover {
  cursor: pointer;
  color:#F07839;
}

.divRigthNavBar{
  width: 40%;
  display: inline-block;
  align-items: center;
  justify-content: right;
  display: flex;
  margin-right: 15px;
  box-Shadow: 1000px 3000px 1000px #000000;
}

.navBarIcons{
  width: 19px;
  margin-left: 10%;
}

.navBarIcons:hover{
  width: 22px;
  cursor: pointer;
}

/* Body */

.body{
  display: flex;
  width: 100%;
  height: 100%;
  height: 470px;
}

/* Body left */

.navBarPrinter{
  background-color: #F07839;
  height: 12%;
  border-radius: 9px 9px 0px 0px;
}


.mainPrinter{
  background-color: white;
  width: 85%;
  margin: 1%;
  border-radius: 9px;
}

.midLane{
  height: 71%;
  display: flex;
}

.stageInput{
  height: 50%;
}

.stagePrinter {
  height: 50%;
  background-color: red;
}

.footerBarPrinter{
  height: 17%;
  border-radius: 0px 0px 9px 9px;
}

/* Body right */

.labelDash{
  background-color: white;
  width: 15%;
  margin: 1%;
  margin-left: 0;
  border-radius: 11px;
}



/* for headers, user this font-family */
/* font-family: 'Sora'; */